/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: OutfitSemiBold;
    src: url(font/Outfit-SemiBold.ttf);
}

@font-face {
    font-family: Outfit;
    src: url(font/Outfit-Regular.ttf);
}

@font-face {
    font-family: OutfitBold;
    src: url('./font/Outfit-Bold.ttf');
}

@font-face {
    font-family: FiraSansMedium;
    src: url('./font/FiraSans-Medium.ttf');
}

nav {
    width: 100%;
    height: 100px;
    text-decoration: none;

}

a {
    text-decoration: none;

}

body {
    background-color: #FDEBCD;
}

.corp_name {
    color: #FDEBCD;
    font-size: 30px;
    font-family: OutfitSemiBold;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word"

}



.dich_vu {
    color: #FDEBCD;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 400;
    word-wrap: break-word;
    transition: font-size 0.2s ease-in-out;
}

.dich_vu:hover {
    font-size: 25px;

}

.booking_btn {
    width: 100%;
    height: 100%;
    position: relative;
    color: #FDEBCD;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
    border-radius: 45px
}

.welcome {
    display: flex;
    flex-direction: column;
    position: relative;

}

.welcome img {
    width: 100%;
    align-self: center;
    /* position: absolute; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px
}


.welcome .welcome_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 46px;
    justify-content: center;
}



.welcome div .welcome_text {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.25);
}

.welcome div .welcome_subhead {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.25);
}



.welcome div .view_dich_vu {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: #E96938;
    border-radius: 45px;
    padding: 13px 20px 13px 20px;
    display: inline-flex;
    color: #FDEBCD;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.about_out_service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_out_service div:first-child {
    margin-top: 64px;
    color: #1B4448;
    font-size: 45px;
    font-family: OutfitBold;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word
}

.about_out_service div:last-child {
    margin-top: 35px;
    width: 50%;
    text-align: center;
    color: #5E7070;
    font-size: 32px;
    font-family: FiraSansMedium;
    font-weight: 500;
    word-wrap: break-word;
    line-height: 1.5;
}

.service_list {
    margin-top: 64px;
    width: 100%;
}

.service_item {
    position: relative;
    width: max-content;
}

.service_item img {
    width: 255px;
    height: 255px;
    object-fit: cover;
    filter: brightness(50%);

}


.service_item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FDEBCD;
    font-size: 30px;
    font-family: OutfitSemiBold;
    font-weight: 600;
    word-wrap: break-word
}

.location {
    background-color: #1B4448;
    border-radius: 20px 20px 20px 20px;
    margin-top: 64px;
}

.location div {
    color: #FDEBCD;
    font-size: 30px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word
}

.pictures {
    margin-top: 64px;
}

.title_cus {
    color: #1B4448;
    font-size: 45px;
    font-family: OutfitBold;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    margin-top: 64px;

}

.subtext_cus {
    text-align: start;
    margin-top: 15px;
    color: #1B4448;
    font-size: 32px;
    font-family: FiraSansMedium;
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 20px;
}


#carouselVideo {
    object-fit: cover;
    margin: 0 auto;
    max-width: 720px;
    max-height: 480px;

}

.carousel-item video {
    width: 720px;
}

.carousel-item image {
    width: 720px;
    object-fit: cover;
}

#carouselFeedback {
    margin: 0 auto;
    width: max-content;
}

.person_icon {
    margin: 0 auto;
    width: max-content;

}

.person_icon img {
    border-radius: 9999px;
    border: 1.50px #E96938 solid;

}

.feedback_post {
    background-color: #5E7070;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 20px;
    margin: 6px;
}

.feedback_post:last-child {
    margin-right: 0px;
}

.content {
    color: #FDEBCD;
    margin-top: 8px;
    font-size: 16px;
    font-family: FiraSansMedium;
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
}

.fullname {
    margin-top: 8px;
    color: #FDEBCD;
    font-size: 32px;
    font-family: FiraSansMedium;
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
}

.stars {
    gap: 25px;
}

.stars i {
    color: #e6e6e6;
    font-size: 23px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.stars i.active {
    color: #E96938;
}

.feedback_content {
    margin: 0 auto;
}

.form_element {
    margin-top: 20px;
    background: #1B4448;
    border-radius: 20px;
    padding: 16px;
}

.feedback_title {
    color: #FDEBCD;
    font-size: 32px;
    font-family: FiraSansMedium;
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
}

.social_media_icons {
    margin-bottom: 16px;
}

.other_contact {
    margin-bottom: 16px;
}

.social_media_icons a {
    width: max-content;
}

.social_media_icons img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.zaloQR {
    width: 100%;
    display: flex;
    justify-content: center;

}

.zaloQR img {
    border-radius: 20px;
    width: 40%;
}

footer {
    margin-top: 64px;
    background-color: #745a5a;
    padding: 16px;
}

.footer_title {
    color: #FDEBCD;
    padding-left: 10px;
    font-size: 29px;
    font-family: Outfit;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word
}

.footer_info {
    padding-left: 10px;
    color: #FDEBCD;
    font-size: 24px;
    font-family: FiraSansMedium;
    font-weight: 500;
    word-wrap: break-word
}

#bookingModal,
#confirmModal {
    background-color: #1B4448;

}

#bookingModal .modal-content,
#confirmModal .modal-content {
    background-color: #FDEBCD;
    border-color: #E96938;
    border-width: 3px;
}

#bookingModal .modal-content #bookingModalLabel,
#confirmModal .modal-content #bookingModalLabel {
    color: #1B4448;
    font-size: 45px;
    font-family: OutfitBold;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    border-color: #E96938;
    border-width: 3px;
}

.modal-body {
    background-color: #FDEBCD;
}

.modal-body input,
textarea {
    color: #1B4448;
    font-size: 24px;
    font-family: FiraSansMedium;
    font-weight: 500;
    word-wrap: break-word
}

.bookingForm {
    background-color: #FDEBCD;
    border-color: #E96938;
    border-width: 3px;
}

.bookingForm label,
.detail_text {
    color: #1B4448;
    font-size: 24px;
    font-family: FiraSansMedium;
    font-weight: 500;
    word-wrap: break-word
}

.modal-footer button {
    color: #FDEBCD;
    font-size: 24px;
    font-family: FiraSansMedium;
    font-weight: 500;
    word-wrap: break-word
}

.modal-footer button:first-child {
    background-color: #5E7070;
}

.form-message {
    color: #E96938;
    font-size: 20px;
    font-family: FiraSansMedium;
    font-weight: 500;
    word-wrap: break-word
}

.notice {
    padding-left: 20px;
    color: #1B4448;
    font-size: 20px;
    font-family: FiraSansMedium;
    font-weight: 500;
    word-wrap: break-word
}

.notice ul {
    list-style-type: circle;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #dfc;
    border-color: #dfc transparent #dfc transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#confirmForm .modal-body {
    color: #1B4448;
    font-size: 24px;
    font-family: FiraSansMedium;
    font-weight: 500;
    word-wrap: break-word
}